body {
  background-color: black;
}

.fs {
  font-family: "Indie Flower", cursive;
}

.container .class-header {
  background-color: grey;
}

.carousel .carousel-item {
  height: 900px;
}

.carousel-item img {
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 900px;
}

.ta {
  font-family: "Dancing Script", cursive;
  color: orangered;
  font-size: 32px;
  justify-content: center;
}

.rc {
  justify-content: center;
}

.iq {
  width: inherit;
  border: solid 3px blue;
}

.mi {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.mg {
  /* text-align: center;
  margin: auto; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.qw {
  width: 100%;
}

.man {
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.hob {
  width: 230px;
}

.card-header {
  background-color: rgb(207, 201, 201);
}

.change {
  color: white;
  font-size: 180%;
  display: flex;
  flex-wrap: wrap;
  font-family: "IM Fell Great Primer", serif;
  text-align: center;
}

.know {
  background-color: rgb(239, 178, 22);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  align-content: center;
}

.btsize {
  width: 8rem;
  margin: auto;
}

.teco {
  color: yellow;
}

.ze {
  width: 10rem;
}

@media only screen and (max-width: 300px) {
  .know {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.know .si {
  width: 2.5rem;
}

.cen {
  text-align: center;
}

.bp {
  text-align: center;
}

.ins {
  width: 50%;
  text-align: center;
}

.inp {
  text-align: center;
}

.infos {
  font-family: "Do Hyeon", sans-serif;
}

.card-header {
  font-family: "Pacifico", cursive;
  font-size: 24px;
}

.carousel-item {
  object-fit: cover;
}

.prohead {
  font-family: "Lexend Peta", sans-serif;
  color: white;
}

.prodis {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
